.login-box {
    background-color: #f6f4f4;
    border: white;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    padding: 10px
}

.box {
    background-color: rgba(255,145,77,0.19);
    padding: 100px 50px;
    border: rgba(255,145,77,0.1);
    border-width: 2px;
    border-style: solid;
    border-radius: 20px;

}
